<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- H2 Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">
            <!--jdbc:h2:file:C:\Users\Sergey_Shimko\projects\web-projects\spring-mvc-test\src\main\resources\db\h2db\test;FILE_LOCK=NO-->
            jdbc:h2:file:/home/sergey/projects/java_projects/web-projects/spring-mvc-test/src/main/resources/db/h2db/test;FILE_LOCK=NO
        </property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">true</property>
        <mapping class="system.model.User"/>
        <mapping class="system.model.Product"/>
    </session-factory>
</hibernate-configuration>