<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products page</title>
</head>
<body>
<h1>Products page</h1>
<div id="account" align="left">
    <h3 th:text="'Account: ' + ${loggedUser}"></h3>
</div>
<div class="workers-block" align="left">
    <h3>Products:</h3>
    <table border="1px">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
            <tr th:each="product: ${products}">
                <td th:text="${product.id}"/></td>
                <td th:text="${product.name}"/></td>
                <td th:text=""/>photo</td>
                <td th:text="${product.price}"/></td>
                <td align="center">
                    <a href="">Buy Now</a>
                </td>
            </tr>
        </th:each>
    </table>
</div>
<td><a href="/login">Back to Login page</a></td>
</body>
</html>
