<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products page</title>
</head>
<body>
<div id="account" align="left">
    <h3 th:text="'Account: ' + ${loggedUser}"></h3>
</div>
<h1>Products page</h1>
<div class="workers-block" align="left">
    <table border="1px">
        <h3>Products:</h3>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"/></td>
            <td th:text="${product.name}"/></td>
            <td><img th:src="@{/assets/images/car.png}"/></td>
            <td th:text="${product.price}"/></td>
            <td align="center">
                <a th:href="@{/products/buy/{id}(id=${product.id})}">Buy Now</a>
            </td>
        </tr>
    </table>
</div>
</br>
<h3>Purchased products:</h3>
<div class="purchased-products" align="left">
<ul th:each="purchasedProduct : ${purchasedProducts}">
    <li th:text="${purchasedProduct}"></li>
    <a th:href="@{/products/remove/{id}(id=${purchasedProduct.id})}"> Remove</a>
</ul>

</div>

<td><a href="/login">Back to Login page</a></td>
</body>
</html>