<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Hello page</title>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Registration page</h1>
<form modelAttribute="registerUser" method="post" th:action="@{/registrationProcess}">
    <table>
        <tr>
            <td><label path="name">Login:</label></td>
            <td><input path="name" name="name" th:required="required" th:autofocus="autofocus"/></td>
        </tr>
        <tr>
            <td><label path="password">Password:</label></td>
            <td><input path="password" name="password" th:required="required" th:autofocus="autofocus"/></td>
        <tr>
        <tr>
            <td><label path="role">Role:</label></td>
            <td>
                <select path="role" name="role">
                    <option th:value="admin" th:text="Admin"></option>
                    <option th:value="user" th:text="User"></option>
                    <option selected="guest" th:value="guest" th:text="Guest"></option>
                </select>
            </td>
        <tr>
            <td>
                <button name="submit">Register</button>
            </td>
        </tr>
    </table>
</form>
<td><a href="/login">Back to Login page</a></td>
</body>
</html>
